#projetos {
  background-color: #000;
  border-bottom: 10px solid #0c4160;
}
#sobre {
  padding-bottom: 50px;
  background-color: #738fa7;
  border-bottom: 10px solid #000;
}
#contatos {
  padding-bottom: 47px;
  background-color: #e9a200;
}
