#skills {
  background-color: #0c4160;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #738fa7;
}
#skills .subtitle {
  margin-left: 599px;
}
.skills-column {
  display: inline-block;
}
#projects {
  padding-top: 50px;
  background-color: #000;
}
#projects .subtitle {
  margin-left: 560px;
}
