header {
  display: flex;
  justify-content: space-between;
  background-color: #738fa7;
  border-bottom: 10px solid black;
  padding: 10px 20px;
}
#site-header {
  text-align: right;
}
#skills-header,
#projetos-header,
#sobre-header,
#contatos-header,
#dlbutton-header,
#dlbutton-front,
#contatos-front {
  display: inline-flex;
  align-items: center;
  color: #c3ceda;
  font-size: 20px;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}
a::before {
  content: '';
  background-color: #0c4160;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
#skills-header:hover,
#projetos-header:hover,
#sobre-header:hover,
#contatos-header:hover,
#dlbutton-header:hover,
#dlbutton-front:hover,
#contatos-front:hover {
  color: #7f0000;
}
#dlbutton-header,
#dlbutton-front,
#contatos-front {
  display: inline-block;
  background-color: #0c4160;
  padding: 18px 20px;
  box-shadow: 5px 5px 0 black;
  margin-right: 0px;
}
#dlbutton-header:hover,
#dlbutton-front:hover,
#contatos-front:hover {
  background-color: #071330;
  box-shadow: 5px 5px 0 #323637;
}
#front-name {
  display: inline-block;
  font-family: 'PRESS START 2P', Arial, Helvetica, sans-serif;
  background-color: #e9a200;
  filter: drop-shadow(10px 10px 0px #000000);
  padding: 42px 47px 44px 40px;
  margin-top: 116px;
  margin-left: 91px;
  font-size: 20px;
  line-height: 30px;
  color: #c3ceda;
  text-shadow: 4px 4px 0px #000000;
}
#name-comp {
  font-size: 40px;
  line-height: 40px;
  color: #0c4160;
}
#nav-front {
  margin-top: 38px;
  margin-left: 181px;
}
#contatos-front {
  margin-left: 132px;
}
