header {
  display: flex;
  justify-content: space-between;
  background-color: #222f5b;
  border-bottom: 10px solid black;
  padding: 10px 20px;
}
nav {
  text-align: right;
}
a {
  display: inline-flex;
  align-items: center;
  color: #9e379f;
  font-size: 20px;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}
a::before {
  content: '';
  background-color: #c72000;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
a:hover {
  color: #d20f20;
}
#buttondl {
  display: inline-block;
  background-color: #27b61b;
  padding: 18px 20px;
  box-shadow: 5px 5px 0 black;
  margin-right: 0px;
}
#buttondl:hover {
  background-color: #0e1a40;
  box-shadow: 5px 5px 0 gray;
}
