.action-tab {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-family: 'Fira Code', monospace, Arial, Helvetica, sans-serif;
  color: #c3ceda;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}
.action-tab::before {
  content: '';
  background-color: #0c4160;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.action-tab:hover {
  color: #7f0000;
}
