#banner {
  background: url('../../assets/img/background-m-content.png');
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  border-bottom: 10px solid #000;
}
#banner .box {
  margin-top: 116px;
  margin-left: 91px;
}
.buttons-box {
  margin-top: 38px;
  margin-left: 181px;
}
#buttoncontatos {
  margin-left: 132px;
}
