#main-box {
  display: inline-block;
  background-color: #e9a200;
  filter: drop-shadow(10px 10px 0px #000);
  width: 627px;
  height: 184px;
  margin-top: 116px;
  margin-left: 91px;
  text-shadow: 4px 4px 0 #000;
}
