.box {
  display: inline-block;
  background-color: #e9a200;
  filter: drop-shadow(10px 10px 0px #000);
  padding: 52px 14px 44px 13px;
  text-align: center;
  text-shadow: 4px 4px 0 #000;
}
.box .title {
  margin-bottom: 18px;
  color: #0c4160;
}
.box .subtitle {
  color: #9f0000;
}
