.button {
  display: inline-block;
  background-color: #0c4160;
  padding: 18px 20px;
  box-shadow: 5px 5px 0 black;
  transition: transform 350ms cubic-bezier(0.42, 0, 0, 2.3);
  color: #c3ceda;
  font-size: 20px;
  font-family: 'Fira Code', monospace, Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.button:hover {
  color: #7f0000;
  background-color: #071330;
  box-shadow: 7px 7px 0 #373737;
  transform: scale(1.06);
}
