.content-sections {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.content-sections.-bd {
  border-bottom: 10px solid #738fa7;
}
.content-sections.-skills {
  background-color: #0c4160;
}
.content-sections.-sobre {
  padding-bottom: 50px;
  background-color: #738fa7;
  border-color: #000;
}
.content-sections.-projetos {
  background-color: #000;
  border-color: #0c4160;
}
.content-sections.-contatos {
  padding-bottom: 47px;
  background-color: #e9a200;
}
