header {
  display: flex;
  justify-content: space-between;
  background-color: #738fa7;
  border-bottom: 10px solid black;
  padding: 10px 20px;
}
#nav-header {
  text-align: right;
}
#nav-header .header-tabs {
  display: inline-flex;
  align-items: center;
  color: #c3ceda;
  font-size: 20px;
  font-family: 'Fira Code', monospace, Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}
#nav-header .header-tabs::before {
  content: '';
  background-color: #0c4160;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
#nav-header .header-tabs:hover {
  color: #7f0000;
}
