.main-banner {
  background: url('../../assets/img/background-m-content.png');
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  border-bottom: 10px solid #000;
}
.main-banner .main-box {
  margin-top: 116px;
  margin-left: 91px;
}
.buttons-box {
  margin-top: 38px;
  margin-left: 181px;
}
.main-banner .main-box .main-title {
  margin-bottom: 18px;
  color: #0c4160;
}
.main-banner .main-box .main-subtitle {
  color: #9f0000;
}
