.progress-bar {
  background-color: #c3ceda;
  width: 320px;
  height: 40px;
  border: 5px solid #000;
  box-sizing: border-box;
}
.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
  background-color: #738fa7;
}
