.progressbar {
  background-color: #c3ceda;
  width: 320px;
  height: 30px;
  border: 5px solid #000;
}
.progression-html {
  width: 45%;
  background-color: #738fa7;
  height: 30px;
}
.progression-nodejs {
  width: 5%;
  background-color: #738fa7;
  height: 30px;
}
.progression-css {
  width: 37%;
  background-color: #738fa7;
  height: 30px;
}
.progression-tdd {
  width: 0%;
  background-color: #738fa7;
  height: 30px;
}
.progression-javascript {
  width: 40%;
  background-color: #738fa7;
  height: 30px;
}
.progression-restapi {
  width: 0%;
  background-color: #738fa7;
  height: 30px;
}
.progression-react {
  width: 0%;
  background-color: #738fa7;
  height: 30px;
}
.progression-ux {
  width: 1%;
  background-color: #738fa7;
  height: 30px;
}
