.projetos-wrapper {
  text-align: initial;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.espaco-projeto {
  border-radius: 15px;
  padding: 15px;
}
.espaco-projeto:nth-child(1) {
  background-color: #c3ceda;
}
