.skills-info {
  background-color: #0c4160;
  border-bottom: 10px solid #738fa7;
}
.skills-column {
  display: inline-flex;
}
.skills-left {
  margin-right: 100px;
}
.box-skill {
  width: 430px;
  height: 90px;
  margin-bottom: 38px;
}
.box-skill .subtitle {
  font-size: 25px;
  text-align: initial;
  margin-left: 110px;
  color: #c3ceda;
  margin-bottom: 16px;
}
.icon {
  float: left;
}
.icon.-restapi {
  margin-top: 24px;
}
.icon.-ux {
  margin-top: 18px;
}
