.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
.skills-wrapper .skill-elements:nth-child(odd) {
  margin-right: 100px;
}
.skills-wrapper .icon {
  margin-right: 25px;
}
.skillalign {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.skill-elements {
  display: flex;
  align-items: center;
  width: 430px;
  height: 90px;
  margin-bottom: 40px;
}
.skill-elements .subtitle {
  font-size: 25px;
  text-align: initial;
  color: #c3ceda;
  margin-bottom: 15px;
}
