h1 {
  color: #c3ceda;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
}
h2 {
  color: #c3ceda;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
}
