.wrapper-projetos {
  display: flex;
  text-align: initial;
  justify-content: space-evenly;
}
.espaco-projeto {
  box-shadow: 10px 10px 0 #fff;
}
.espaco-projeto.-var1 {
  background-color: #738fa7;
}
.espaco-projeto.-var2 {
  background-color: #071330;
}
.iconprojeto {
  padding: 10px;
  width: 240px;
  height: 240px;
}
